* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #d0d0d0;
}

.col-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-style {
    background-color: #FFF;
    padding: 30px;
}